<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/angular.js"></script>
        <script src="js/jquery-1.12.4.min.js"></script>
        <script src="js/script.js"></script>
    </head>
    <body ng-app="jumpApp">
       <div class="container" ng-controller="jumpCtrl">
           <h1>Jump game</h1>
           <h3>Instructions:</h3>
           <p>Given a random generated array in which index starts from 0 instead of 1. By adding current element's value to current element's index to check whether there is a way to jump from start to the end.</p>
           <p>For example, given 2 4 1 3 0 and start from 2 whose index is 0 and value is 2. There are three ways to jump to the end: </p>
           <p>2->1->3 or 2->4 or 2->4->1->3.</p>
           <h3>Rules:</h3>
           <p>There are three different levels: easy level has 5 numbers, noraml level has 10 numbers, hard level has 15 numbers.</p>
           <p>Correct anwser will get 5 points, wrong answer will lose 2 points</p>
           <p>User can click "Play again" button to play next game and click "Reset game" button to start over.</p>
           <h3>Enjoy game:</h3>
           Please choose game level:
           <input type="radio" ng-model="level" ng-disabled="checkedLevel" value="easy" ng-change="chooseLevel(level)"/>Easy
           <input type="radio" ng-model="level" ng-disabled="checkedLevel" value="normal" ng-change="chooseLevel(level)"/>normal
           <input type="radio" ng-model="level" ng-disabled="checkedLevel" value="hard" ng-change="chooseLevel(level)"/>hard<br/>
          
           <span ng-repeat="num in numbers track by $index">{{num}}&nbsp;&nbsp;&nbsp;</span><br/>
           Your answer:
           <input type="radio" ng-model="answer" ng-checked="checkedAnswer" ng-disabled="disableCheckedAnswer" value="true" ng-change="getAnswer(answer)">True
           <input type="radio" ng-model="answer" ng-checked="checkedAnswer"  ng-disabled="disableCheckedAnswer" value="false" ng-change="getAnswer(answer)">False&nbsp;&nbsp;&nbsp;<span id="output">{{output}}</span><br/>
           Score: {{score}}<br/>
           <button id="btn-again" ng-click="playAgain()">Play again</button>
           <button id="btn-reset" ng-click="reset()">Reset game</button>
       </div>
    </body>
</html>


